<div>
  <ul class="navbar">
    <h1 style="color: aliceblue;">CODING FLASHCARDS</h1>
    <h1 style="color: aliceblue;">email: {{userProfile.email}}</h1>
  </ul>
</div>

<h2 style="color: aliceblue;">Flashcard</h2>
<!-- Replace the HTML code of the book details by importing the Handlebars partial -->
<h4 style="color: aliceblue; margin: 20px 0px;">
  TEMP LIST OF USER FLASHCARDS</h4>

<!-- Loops through users flashcards -->
{{#each user.0.flashcards}}
  <div>
    <p style="color: aliceblue; margin-top: 10px;">{{dataValues.question}}</p>
    <p style="color: aliceblue;">{{dataValues.answer}}</p>
  </div>
{{/each}}