<h1>Hello </h1>

<h2>Flashcard</h2>
<!-- Replace the HTML code of the book details by importing the Handlebars partial -->
<p>Is Authenticated: {{authStatus}}</p>
<p>{{fetchedData.question}}</p>
<p>{{fetchedData.answer}}</p>