<header>
  <h1 class="home-btn">goCode</h1>
  
</header>
<div class="study-card">
  
</div>
<div class="study-controls">
  <button class="prev-card"><i class="fas fa-angle-left"></i></button>
  <button class="flip-btn" onclick="populateCardsAtStart()">Flip</button>
  <button class="next-btn"><i class="fas fa-angle-right"></i></button>
  <button onclick="addFlashcards()"></button>
</div>

<script src="/public/javascript/createcards.js"></script>
