@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.bg-img {
  background-image: url("https://raw.githubusercontent.com/jadejhagru/coding-flashcards/feature/create-cards/public/assets/images/background.jpg");
  height: 105vh;
  background-size: cover;
  background-position: center;
  overflow: scroll;
  filter: grayscale(50%);
}

/* .bg-img:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
} */

.content {
  position: absolute;
  top: 12%;
  left: 35%;
  transform: translate(-50, -50);
  text-align: center;
  z-index: 999;
  width: 370px;
  text-align: center;
  padding: 30px 32px;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.content header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: "Poppins", sans-serif;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: white;
}

.content p {
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: "Poppins", sans-serif;
}

.content header:hover {
  color: white;
  font-size: 36px;
  transition: 1s;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: "Poppins", sans-serif;
}

.content p:hover {
  color: white;
  font-size: 26px;
  transition: 1s;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: "Poppins", sans-serif;
}

.field,
#submit-button {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.94);
  border-radius: 5px;
}

.field span,
#submit-button {
  color: black;
  width: 40px;
  line-height: 45px;
}

.field input,
#submit-button {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.show {
  position: absolute;
  right: 13px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: black;
  cursor: pointer;
  display: none;
}

.password:valid ~ .show {
  display: block;
}

.space {
  margin-top: 16px;
}

.pass {
  text-align: left;
  margin: 10px 0;
}

.pass a {
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.pass:hover a {
  text-decoration: underline;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}
input[type="submit"] {
  background: darkslategray;
  border: 1px solid black;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background: white;
  color: black;
  transition: 0.5s;
}

.signup {
  color: white;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.signup a {
  color: #3498db;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  background: whitesmoke;
}

header {
  background-color: grey;
}

button {
  padding: 8px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: whitesmoke;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.container {
  width: 95%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  background: #fff;
}

.nav button {
  font-family: inherit;
  border: 1px solid red;
}

.create-card {
  display: none;
  width: 370px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  background: rgb(175, 175, 175);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

.create-card textarea,
.answer {
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  border: 1px solid lightgray;
  resize: none;
  height: 100px;
}
.question {
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  border: 1px solid lightgray;
  resize: none;
  height: 50px;
}

.create-card button {
  width: fit-content;
}

.flashcards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0px 10px;
}

.flashcard {
  width: 370px;
  height: 300px;
  word-wrap: break-word;
  margin: 10px;
  background: rgb(177, 176, 176);
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

.flashcard h2 {
  font-size: 1rem;
}

div.align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  height: 0px;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  padding: 9px 25px;
}

button:hover {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: white;
  color: black;
  text-decoration: none;
}

.button {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 12px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  padding: 9px 25px;
}

/* Study.handlebars specific styles */
.study-controls {
  position: fixed;
  bottom: 10px;
}

@media (max-width: 768px) {
  .flashcard {
    margin: auto;
  }

  .flashcard {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .create-card {
    width: 100%;
  }

  .flashcard {
    width: 100%;
  }
}

/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
* {
	box-sizing: border-box;
}
body {
	background-color: #9b59b6;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}
.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}
.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}
.header h2 {
	margin: 0;
}
.form {
	padding: 30px 40px;	
}
.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}
.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}
.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}
.form-control input:focus {
	outline: 0;
	border-color: #777;
}
.form-control.success input {
	border-color: #2ecc71;
}
.form-control.error input {
	border-color: #e74c3c;
}
.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}
.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}
.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}
.form-control.error small {
	visibility: visible;
}
.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
/* SOCIAL PANEL CSS */
/* .social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}
.social-panel-container.visible {
	transform: translateX(-10px);
}
.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}
.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}
.social-panel button.close-btn:focus {
	outline: none;
}
.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}
.social-panel p i {
	margin: 0 5px;
}
.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}
.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}
.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.social-panel ul li {
	margin: 0 10px;
}
.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}
.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}
.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}
.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}
.floating-btn:focus {
	outline: none;
}
.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}
.floating-text a {
	color: #FF7500;
	text-decoration: none;
}
@media screen and (max-width: 480px) {
	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}  */
